body{
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

header {
    height: 200px;
    overflow: hidden; /* Clear floats */
    padding: 10px 0 0 0;
}

img.logo{
    float: left;
    margin-left: 0px;
}

nav{
    float: right;
    margin: 70px 50px 0 0;
}

nav ul{

    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 0;
}

nav ul li{
    display: inline;
    margin-left: 20px;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

section{
    overflow: hidden;
    width: 100%;
}

article{
    float: left;
    width: 55%;
    margin-right: 40px;
}

figure.kuva{
    float: right;
}

h1{
    font-size: 1.7em;
    text-transform: uppercase;
}

p{
    font-size: 1.2em;
    line-height: 1.5em;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

button{
    background-color: oklch(38.811% 0.262 276.966);
    color: #fff;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    font-size: 1em;
    text-transform: none;
    border-radius: 15px;
}

.white{
    background-color: white;
    border: solid oklch(38.811% 0.262 276.966);
    color: oklch(38.811% 0.262 276.966);
}

/*Blockquote osuudet*/
section{
    overflow: hidden;
}

.quote{
    font-weight: bold;
    font-size: 1.5em;
}

figcaption{
    font-size: 1.2em;
}

blockquote{
    border: 1px solid #ccc;
    padding: 12px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

blockquote figure{
    margin: 0;
}

blockquote figcaption{
    margin: 0;
    margin-top: 0;
}

blockquote p{
    margin-top: 0;
    margin-bottom: 6px;
}

.features{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.features blockquote{
    flex: 1;
    border: 1px solid #ccc;
    padding: 16px;
}




/*Footer osuudet*/
footer{
    display: flex;
    padding: 20px 0 0 0;
    border-top: 1px solid gray;
    margin-bottom: 80px;
    background-color: oklch(25.41% 0.04872 263.199);
}

.footer-column{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 80px;
    color: oklch(.707 .022 261.325);
}

.footer-column h3{
    margin: 0 0 12px 0;
    color: oklch(100% 0.00011 271.152);
}

.footer-column ul{

    list-style: none;
    line-height: 1.6em;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

footer p{
    margin: 6px 0;
}

.footer-column li{
    margin: 6px 0;
}
